<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página web de blog de café">


    <link rel="Prefetch" href="nosotros.html" as="document"> 

    <link rel="Preload" href="/public/css/styles.css" as="style">
    <link rel="stylesheet" href="/public/css/styles.css">

    <link rel="Preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" crossorigin="crossorigin" as="font">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
    rel="stylesheet">

    <link rel="Preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">

    <title>Fullstack blog</title>
</head>
<body>
    <header class="header">

        <div class="contenedor">
            <div class="barra"> 

                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin"><span class="logo__bold">FullStack</span>Blog</h1>
                </a>

                <nav class="navegacion"> 
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>

        <div class="header__texto">
            <h2 class="no-margin">Blog dedicado a programación web fullstack con los mejores consejos y cursos</h2>
            <p class="no-margin">Aprende las mejores técnicas y consejos aquí</p>
        </div>
    </header>
    <main class="contenedor">
        <h3 class="post1-titulo">¿Te interesa este curso? ¡Únete!</h3>
        <article class="post1-article">
                <div class="post1__imagen">
                    <img src="/public/img/blog2.jpg" alt="imagen de post">
                </div>
                <div class="post1__texto">
                    <h4 class="post1-titulo">MySQL interactivo</h4>
                    <p class="post1-texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt dolores perferendis rem maiores
                        consectetur voluptatum laborum est dolore accusamus, culpa vel cupiditate, excepturi possimus?
                        Temporibus, impedit tenetur. Sapiente, ab pariatur?</p>
                </div>
        </article>

    </main>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra barra-inferior"> 

                <a class="logo" href="index.html">
                    <h1 class="logo__nombre no-margin"><span class="logo__bold">FullStack</span>Blog</h1>
                </a>

                <nav class="navegacion"> 
                    <a href="nosotros.html" class="navegacion__enlace">Nosotros</a>
                    <a href="cursos.html" class="navegacion__enlace">Cursos</a>
                    <a href="contacto.html" class="navegacion__enlace">Contacto</a>
                </nav>
            </div>
        </div>
</footer>
<script src="js/modernizr.js"></script>
</body>
</html>
